<!-- <form [formGroup]="reviewForm">
    <div class="modal-header">
      <h4 class="modal-title">Avalie o Estabelecimento</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <star-rating value="5" totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="24px"
        readonly="false" formControlName="stars"></star-rating>
      <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" formControlName="comment"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning">Avaliar</button>
    </div>
</form>
 -->