<div class="container" style="margin: 20px;">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
          <h5>{{ establishment.name }} | {{ establishment.description }}</h5>
          <star-rating value="{{ establishment.stars }}" totalstars="5" checkedcolor="orange" uncheckedcolor="black"
            size="24px" readonly="true"></star-rating>
        </div>
        <div class="col-sm ml-auto">
          <button type="button" class="btn btn-danger" style="float: right;"
            (click)="openBackDropCustomClass(content)">Fazer Avaliação</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="list-group" style="margin-left: 38px;">
  <li class="list-group-item" *ngFor="let review of reviews">
    <div class="d-flex w-100 justify-content-between">
      <star-rating value="{{ review.stars }}" totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="24px"
        readonly="true"></star-rating>
      <small>3 dias atrás</small>
    </div>
    <p class="mb-1">{{ review.comment }}</p>
    <small style="color: grey;">{{ review.user.firstName }}</small>
  </li>
</ul>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Avalie o Estabelecimento</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <star-rating value="5" totalstars="5" checkedcolor="orange" uncheckedcolor="black" [(ngModel)]="stars" size="24px"
      readonly="false"></star-rating>
    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="comment" rows="3"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="postReview()">Avaliar</button>
  </div>
</ng-template>