<ul class="list-group">
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Muito Bom</h5>
            <small class="text-muted">
                <star-rating value="5" totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
            </small>
        </div>
        <p class="mb-1">Muito bom, organizado. Ambiente legal e divertido. Comida excelente!</p>
        <small class="text-muted">12/28/2019</small>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Bom</h5>
            <small class="text-muted">
                <star-rating value="4" totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
            </small>
        </div>
        <p class="mb-1">Muito bom, organizado. Ambiente legal e divertido. Comida excelente!</p>
        <small class="text-muted">12/28/2019</small>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Normal</h5>
            <small class="text-muted">
                <star-rating value="3" totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
            </small>
        </div>
        <p class="mb-1">Muito bom, organizado. Ambiente legal e divertido. Comida excelente!</p>
        <small class="text-muted">12/28/2019</small>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ruim</h5>
            <small class="text-muted">
                <star-rating value="2" totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
            </small>
        </div>
        <p class="mb-1">Muito bom, organizado. Ambiente legal e divertido. Comida excelente!</p>
        <small class="text-muted">12/28/2019</small>
    </li>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Muito Ruim</h5>
            <small class="text-muted">
                <star-rating value="1" totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="24px"
                    readonly="true"></star-rating>
            </small>
        </div>
        <p class="mb-1">Muito bom, organizado. Ambiente legal e divertido. Comida excelente!</p>
        <small class="text-muted">12/28/2019</small>
    </li>
</ul>